 /* Google Font Import - Poppiens */

 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');


 *{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
 }


 :root{
    /*colors*/

    --body-color: #e4e9f7;
    --sidebar-color: #FFF;
    --primary-color: #695cfe;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;


    /*transition*/

    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;


}


body{

    height: 100vh;
    background: var(--body-color);


}
 
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10 px 14 px;
    background: var(--sidebar-color);
}


.sidebar .text {
    font-size: 20px;
    font-weight: 25px;
    color: var(--text-color);
}

.sidebar .image {
    min-width: 60 px;
    display: flex;
    align-items: center;
}



.sidebar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px; 
    font-size:20px;


}

.sidebar li .icon,
.sidebar li .text{
    color: var(--text-color);
}

.sidebar .search-box{
    background: var(--primary-color-light);
}

.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    background: var(--primary-color-light);
}


.sidebar li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    background-color: var(--sidebar-color);
}


.sidebar header {
    position: relative;

}




.sidebar .image-text img {

    width: 40px;
    border-radius: 6px;
}



.sidebar header .image-text{
    display: flex;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 20px;
}



header .image-text .header-text{
    display:flex;
    flex-direction: column;
}



.header-text .name{
    font-size: 16px;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 5px;
}

.header-text .job{
    font-size: 14px;
    color: var(--text-color);
    font-weight: 300;
}

.sidebar header toggle-btn{
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 22px;
    color: var(--toggle-color);
    cursor: pointer;
    display: none;
}


.sidebar header .toggle{
 
    position: absolute;
    top: 50%px;
    right: -25px;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 25px;
}































